{% extends 'join/base.html.twig' %}
{% block header %}
    <h1 class="h1-responsive text-center">{{ room.name }}</h1>
    <p class="text-center"><a href="{{ path('join_index',{'slug':room.standort.slug}) }}"><i class="fa fa-link"></i> {{ room.standort.name }}</a></p>
    <p class=" text-center">{% set locale =  app.request.locale %}
        {{ room.start|format_date(pattern="EEEE",locale=locale) }}
        | {{ room.start|format_datetime('long', 'none', locale=locale) }}
        | {{ room.start|date('H:i') }}-{{ room.endDate|date('H:i') }}</p>
    {% if room.moderator != app.user %}
        {% if room.maxParticipants is null %}
            <h4 class="text-center">{% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Unbegrenzte Teilnehmerzahl{% endtrans %}</h4>
        {% elseif room.maxParticipants - room.user|length >1 %}
            <h4 class="text-center">{% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Noch {spaces} Plätze frei{% endtrans %}</h4>
        {% elseif room.maxParticipants - room.user|length == 1 %}
            <h4 class="text-center">{% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Noch ein Platz frei{% endtrans %}</h4>
        {% elseif room.maxParticipants - room.user|length <= 0 and room.waitinglist == true %}
            {% if room.maxWaitingList is not null and room.waitinglists|length >= room.maxWaitingList %}
            {% else %}
                <h4 class="text-center text-danger">{% trans %}Warteliste{% endtrans %}</h4>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}


{% block content %}

    {% set isForm = false %}

    {% if room.maxParticipants - room.user|length >0 %}
        {% set isForm = true %}

    {% elseif room.waitinglist == true %}
        {% if room.maxWaitingList is not null %}
            {% if room.waitinglists|length < room.maxWaitingList %}
                {% set isForm = true %}

            {% endif %}
        {% else %}
            {% set isForm = true %}

        {% endif %}

    {% elseif room.maxParticipants is null %}
        {% set isForm = true %}

    {% endif %}
    {% if room.moderator == app.user %}
        {% set isForm = true %}
    {% endif %}


    {% if isForm == true %}
        <div class=" col-lg-8">
            <p class="text-center text-md-left">
                {% if room.maxParticipants - room.user|length >0 %}
                    {{ 'Melden Sie sich an und schreiben Sie sich auf der Teilnehmerliste ein'|trans }}
                {% endif %}
            </p>
            {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.address) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.freeFields) }}

            <div class="row form-group">

                <div class="col-12">
                    {{ include('join/__datenschutz.html.twig',{'standort':standort,'dataPrivacy':dataPrivacy}) }}

                </div>
            </div>
            {% if room.allowGroups %}
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="h3-responsive">{{ 'Gruppenanmeldung'|trans }}</h3>
                        {% if room.maxGroupSize is not null and room.moderator != app.user %}
                            <small>{% trans with {'{max}':room.maxGroupSize} %}Maximale Gruppengröße: {max}{% endtrans %}</small>

                        {% endif %}
                    </div>
                </div>
                <div class="mt-2 mb-3">
                    <div id="groups">

                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <a href="#" class="moreGroup btn-outline-primary btn" style="width: 100%"><i
                                        class="fa fa-plus"></i> </a>
                        </div>
                    </div>

                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.subscribe) }}
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            {% if room.entryDateTime is not null %}
               <b>{{ 'Einlass'|trans }}:</b> <br> {{ room.entryDateTime|date('d.m.Y H:i') }}<br>
            {% endif %}
            {% if room.promoter is not null %}
                <b>{{ 'Veranstalter'|trans }}:</b>
                {{ room.promoter }}<br>
            {% endif %}
            {% set standort = room.standort %}
            <b>{{ 'Standort'|trans }}:</b><br>
            {{ standort.name }}<br>
            {%  if standort.roomNumber is not null %}
                <b>{{ 'Raumnummer'|trans }}:</b><br>{{ standort.roomNumber }}<br>
            {% endif %}
            {%  if standort.street is not null %}
               {{ standort.street }} {{ standort.number }}<br>
            {% endif %}
            {{ standort.plz }} {{ standort.city }}<br>
            <a class=" btn btn-sm btn-outline-primary" href="{{ path('join_index',{'slug':room.standort.slug}) }}">{{ 'Zum Standort'|trans }}</a><br><br>


            {% if room.agenda is not null %}
                <b>{{ 'Agenda'|trans }}:</b>
                {{ room.agenda|markdown_to_html }}<br>
            {% endif %}
            {% if room.additionalInfo is not null %}
                <b>{{ 'Zusätzliche Info'|trans }}:</b>
                {{ room.additionalInfo|markdown_to_html }}<br>
            {% endif %}


        </div>
        {{ form_end(form) }}
        <div id="formSample" class="d-none">
            <div class="addedForm row">

                <div class="col-md-3 d-flex align-items-baseline">
                    <a href="#" class="mr-1 removeForm "><i class="fa fa-trash  float-left">
                        </i></a>
                    <div class="form-group">
                        <input type="text" required class="form-control" name="group[x][firstName]"
                               placeholder="{{ 'Vorname'|trans }}*">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" required class="form-control" name="group[x][lastName]"
                               placeholder="{{ 'Nachname'|trans }}*">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="email"  class="form-control" name="group[x][email]"
                               placeholder="{{ 'Email'|trans }}">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" required class="form-control" name="group[x][address]"
                               placeholder="{{ 'Adresse'|trans }}*">
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-lg-12">
            <h3 class="text-center ">{% trans with {'{spaces}':room.maxParticipants - room.user|length} %}Keine Plätze mehr frei{% endtrans %}</h3>
        </div>



    {% endif %}

    <script>
        {% if room.moderator != app.user %}
        var maxGroupSize = {{ room.maxGroupSize?room.maxGroupSize:1000 }};
        {% else %}
        var maxGroupSize = 1000;
        {% endif %}
    </script>

{% endblock %}
