<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
<div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
            <button style="color: white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.street) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.number) }}
                </div>
            </div>


            {{ form_row(form.plz) }}
            {{ form_row(form.city) }}
            {{ form_row(form.directions) }}

            {{ form_row(form.licenseKey) }}
            {% if not standort|validateLicense %}
            <p><small><span class="badge badge-danger">Enterprise</span><a target="_blank" href="https://h2-invent.com/produkte/jitsi-admin-enterprise"> {% trans %}Geben Sie hier ihren Pro-Lizenkey ein, wenn sie einen solchen erworben haben. Erfahren Sie hier mehr über Jitsi-Admin Enterprise.{% endtrans %}</a></small></p>
            {% else %}
                <p><small><span class="badge badge-success">{{ 'Enterprise bis'|trans }}</span> {{ standort|validateUntilLicense|date('d.m.Y') }}</small></p>
            {% endif %}

            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
