<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
            <button style="color: white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}
            <div class="row">
                {% if form.silentMode is defined %}
                    <div class="col-sm-11">
                        {{ form_row(form.silentMode) }}
                    </div>
                    <div class="col-sm-1">
                        <a tabindex="0" data-toggle="popover" data-trigger="focus"
                           data-content="{{ 'Stiller Bearbeitungsmodus. Wenn keine Veränderung der Zeit durchgeführt wird, kann über diese Option verhindert werden, dass die Teilnehmer mit einer E-Mail über die Bearbeitung des Events informiert werden.'|trans }}"><i
                                    class="fa fa-question-circle"></i></a>
                    </div>
                {% endif %}
                <div class="col-lg-12">
                    {{ form_row(form.standort) }}
                </div>
                <div class="col-lg-12">
                    {{ form_row(form.name) }}
                </div>
                {% if form.start is defined %}
                    <div class="col-lg-12">
                        {{ form_row(form.start) }}
                    </div>
                    <div class="col-lg-12">
                        {{ form_row(form.entryDateTime) }}
                    </div>
                {% endif %}
                <div class="col-lg-12">
                    {{ form_row(form.duration) }}
                </div>
                <div class="col-lg-12">
                    {{ form_row(form.promoter) }}
                </div>
                <div class="col-lg-12">
                    {{ form_row(form.agenda) }}
                </div>
                <div class="col-lg-12">
                    {{ form_row(form.additionalInfo) }}
                </div>
            </div>
            <div class="mb-2">
                <a data-toggle="collapse" class=" caretdown" href="#collapseExample" aria-expanded="false"
                   aria-controls="collapseExample">
                    {{ 'Erweiterte Optionen'|trans }}
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="mt-3">
                        <div class="row">
                            {% if form.scheduleMeeting is defined %}
                                <div class="col-lg-12">
                                    {{ form_row(form.scheduleMeeting) }}
                                </div>
                            {% endif %}

                            <div class="col-sm-11">
                                {{ form_row(form.public) }}
                            </div>
                            <div class="col-sm-1">
                                <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                   data-content="{{ 'Teilnehmer können sich selbst du dem Event einschreiben.'|trans }}"><i
                                            class="fa fa-question-circle"></i></a>
                            </div>
                            <div class="col-lg-12">

                                <div id="maxParticipants" class=" collapse">
                                    <div class="row">
                                        <div class="col-sm-11">
                                            {{ form_row(form.maxParticipants) }}
                                        </div>
                                        <div class="col-sm-1">
                                            <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                               data-content="{{ 'Maximale Anzahl an Teilnehmer welche sich zu dem Event anmelden dürfen.'|trans }}"><i
                                                        class="fa fa-question-circle"></i></a>
                                        </div>
                                        <div class="col-sm-11">
                                            {{ form_row(form.textWhenNoSpace) }}
                                        </div>
                                        <div class="col-sm-1">
                                            <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                               data-content="{{ 'Wenn keine Plätze mehr vorhanden, wird dieser Text im Banner angezeigt.'|trans }}"><i
                                                        class="fa fa-question-circle"></i></a>
                                        </div>

                                        <div class="col-sm-11">
                                            {{ form_row(form.waitinglist) }}
                                        </div>
                                        <div class="col-sm-1">
                                            <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                               data-content="{{ 'Wenn keine Plätze mehr auf der Teilnehmerliste vorhanden sind, dann werden neue Teilnehmer auf eine Warteliste geschrieben.'|trans }}"><i
                                                        class="fa fa-question-circle"></i></a>
                                        </div>
                                        <div class="col-lg-12">
                                            <div id="maxWaitinglist" class=" collapse">
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        {{ form_row(form.maxWaitingList) }}
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                                           data-content="{{ 'Die Maximale Anzahl an Teilnehmern auf der Warteliste'|trans }}"><i
                                                                    class="fa fa-question-circle"></i></a>
                                                    </div>
                                                    <div class="col-sm-11">
                                                        {{ form_row(form.textWhenRoomWarteliste) }}
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                                           data-content="{{ 'Wenn keine Plätze mehr vorhanden aber noch Plätze auf der Warteliste vorhanden sind, wird dieser Text im Banner angezeigt.'|trans }}"><i
                                                                    class="fa fa-question-circle"></i></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-sm-11">
                                            {{ form_row(form.allowGroups) }}
                                        </div>
                                        <div class="col-sm-1">
                                            <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                               data-content="{{ 'Es wird erlaubt, das sich Gruppen bei einem Event anmelden können'|trans }}"><i
                                                        class="fa fa-question-circle"></i></a>
                                        </div>
                                        <div class="col-lg-12">
                                            <div id="maxGroupSize" class=" collapse">
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        {{ form_row(form.maxGroupSize) }}
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                                           data-content="{{ 'Hier kann die maximale Gruppengröße angegeben werden.'|trans }}"><i
                                                                    class="fa fa-question-circle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                {{ form_row(form.showRoomOnJoinpage) }}
                            </div>
                            <div class="col-sm-1">
                                <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                   data-content="{{ 'Dieses Event wird auf der Standortseite angezeigt.'|trans }}"><i
                                            class="fa fa-question-circle"></i></a>
                            </div>
                            <div class="col-sm-11">
                                {{ form_row(form.showRoomOnCalendar) }}
                            </div>
                            <div class="col-sm-1">
                                <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                   data-content="{{ 'Dieses Event soll auf dem großen Kalender auf der Startseite angezeigt werden.'|trans }}"><i
                                            class="fa fa-question-circle"></i></a>
                            </div>

                            <div class="col-lg-12">
                                <div id="showAfterDate" class=" collapse">
                                <div class="row">
                                    <div class="col-sm-11">
                                        {{ form_row(form.showAfterDate) }}
                                    </div>
                                    <div class="col-sm-1">
                                        <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                           data-content="{{ 'Dieses Event wird erst nach dem eingegebenen Zeitpunkt auf der Standortseite sowie dem globalen Kalender angezeigt.'|trans }}"><i
                                                    class="fa fa-question-circle"></i></a>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="col-sm-11">
                                {{ form_row(form.showInCalendarWhenNoSpace) }}
                            </div>
                            <div class="col-sm-1">
                                <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                   data-content="{{ 'Dieses Event soll auf der Startseite angezeigt werden, auch wenn kein Platz mehr vorhanden ist. Dafür wird ein roter Punkt angezeigt und der Wortlaut "Ausgebucht" angehängt.'|trans }}"><i
                                            class="fa fa-question-circle"></i></a>
                            </div>
                            <div class="col-lg-12">
                                <label for="add_item_link"> {{ 'Freie Textfelder für die Anmeldung'|trans }}</label>
                                <a tabindex="0" data-toggle="popover" data-trigger="focus"
                                   data-content="{{ 'Hier können Sie freie Felder definieren. Diese können von den Teilnehmern während des Anmelddevorgangs ausgefüllt werden'|trans }}"><i
                                            class="fa fa-question-circle"></i></a><br>
                                <ul class="freeField list-group"
                                    data-prototype="<div class='d-flex flex-column'>{{ form_widget(form.freeFields.vars.prototype.label)|e('html_attr') }}{{ form_widget(form.freeFields.vars.prototype.required)|e('html_attr') }}</div>">
                                    {% for freeField in form.freeFields %}
                                        <li class="d-inline-block list-group-item d-flex justify-content-between">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {{ form_widget(freeField.label) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_widget(freeField.required) }}
                                                </div>
                                            </div>


                                        </li>
                                    {% endfor %}
                                </ul>
                                <button type="button" id="add_item_link" class="btn btn-primary add_item_link2"
                                        data-collection-holder-class="freeField">{{ 'Freies Feld hinzufügen'|trans}}
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>
