{% for s in room.storno %}
    <li>{% if s.email is not null %}{{ s.email }}{% else%}{{ s.firstName }} {{ s.lastName }}{% endif%}
        <a tabindex="0" data-toggle="popover" data-trigger="focus"
                             title="{{ s.firstName }} {{ s.lastName }}"
                             data-content="
{{ 'Email'|trans }}: <a href='mailto:{{ s.email }}'>{{ s.email }}</a><br>
                                {{ 'Telefon'|trans }}: <a href='tel:{{ s.phone }}'>{{ s.phone }}</a>"><i
                    class="fa fa-info-circle"></i></a>

    </li>
{% endfor %}
