{% for w in room.waitinglists |sort((a, b) => a.createdAt <=> b.createdAt) %}
    <li>{{ w.user.email }}
        <a tabindex="0" data-toggle="popover" data-trigger="focus"
                             title="{{ w.user.firstName }} {{ w.user.lastName }}"
                             data-content="
{{ 'Email'|trans }}: <a href='mailto:{{ w.user.email }}'>{{ w.user.email }}</a><br>
                                {{ 'Telefon'|trans }}: <a href='tel:{{ w.user.phone }}'>{{ w.user.phone }}</a>"><i
                    class="fa fa-info-circle"></i></a>

        <a class="small directSend"
           href="{{ path('accept_waitingList',{'id':w.id}) }}"
           data-text="{{ 'Wollen Sie den Teilnehmer wirklich zu dem Event hinzufügen'|trans }}"
           data-target="#atendeeList"
           data-url="{{ path('room_add_user',{'room':room.id}) }}"
        > <i class="fa fa-check"></i>
        </a>
        {% if w|groupFromWaitinglist is not null %}
        <ul>
            {% for m in w|groupFromWaitinglist.members  %}
            <li>{{ m.email }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endfor %}
