<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ title }}</h5>
            <button style="color: white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{ 'Teilnehmerliste'|trans }} <a href="{{ path('atendeelist_download_excel',{'uid':room.uid}) }}"><i class="fa fa-print"></i> </a> </p>
            <p class="small">
                <i class="fa fa-crown"></i> {{ 'Zum Moderator ernennen'|trans }}
                {% if room.dissallowScreenshareGlobal %}
                    <br><i class="fas fa-desktop"></i> {{ 'Erlauben seinen Desktop zu Teilen'|trans }}
                {% endif %}
                {% if room.dissallowPrivateMessage %}
                    <br><i
                        class="far fa-comments"></i> {{ 'Erlaube private Nachrichten an andere Teilnehmer zu senden'|trans }}
                {% endif %}
            </p>
            <div id="atendeeList">
                <ul>
                    <li>{{ room.moderator.email }} <span class="small">({{ 'Organisator'|trans }})</span></li>
                    {% include 'room/__attendeeList.html.twig' with {'room':room} %}
                </ul>
                {% if room.waitinglists|length > 0 %}
                    <b>{{ 'Warteliste'|trans }}</b>
                    <ul>
                        {% include 'room/__waitingList.html.twig' with {'room':room} %}
                    </ul>
                {% endif %}
                {% if room.storno|length > 0 %}
                    <b>{{ 'Storniert'|trans }}</b>
                    <ul>
                        {% include 'room/__stornoList.html.twig' with {'room':room} %}
                    </ul>
                {% endif %}
                {% if room.subscribers|length > 0 %}
                    <b>{{ 'Ausstehend'|trans }}</b>
                    <ul>
                        {% include 'room/__subscriberList.html.twig' with {'room':room} %}
                    </ul>
                {% endif %}
            </div>
            <hr>
            <label for="searchUser">{{ 'Teilnehmer Suchen'|trans }}</label>
            <input autocomplete=off type="text" id="searchUser" class="form-control dropdown-toggle"
                   href="{{ path('search_participant') }}"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu" id="participantUser">
                <a class="dropdown-item" href="#">{{ 'Tippen zum Suchen'|trans }}</a>
            </div>
            {{ form_start(form) }}
            {{ form_row(form.member) }}
            <div class="row">
                <div class="col-md-7">
                    {{ form_row(form.submit) }}
                </div>
                <div class="col-md-5">
                    <a class="btn btn-outline-danger" href="{{ path('dashboard') }}">
                        {{ 'Abbrechen' | trans }}
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
