<!DOCTYPE html>
<html>

{% include'base/__head.html.twig' with {'css':'app'}  %}
{% set image = pexelsImage() %}
<body style="background-color: #C9C9C9">
<div class="imageBackground"></div>
{% block back %}{% endblock %}
<div>
    <div class="container mb-5">
        <div class="pt-2">


            <style>
                {% if server is defined and  server is not null and server|validateLicense and server.showStaticBackgroundColor and server.staticBackgroundColor is not null %}
                .imageBackground {
                    background-color: {{ server.staticBackgroundColor }};
                    position: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    background-position: center;
                }

                {% elseif image is not null %}
                .imageBackground {
                    background-image: url("{{ image['src']['original'] }}?auto=compress&cs=tinysrgb&w=1920");
                    position: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    background-position: center;
                }

                {% endif %}
                @supports (-webkit-appearance:none) {
                    .frozenGlas {
                        background-color: rgba(255, 255, 255, 0.8);
                        backdrop-filter: blur(5px);
                    }
                }

                @supports (-moz-appearance:none) {
                    .frozenGlas {
                        background-color: white;

                    }
                }


            </style>
            <div class="row justify-content-center">
                <div class="col-lg-10 d-flex justify-content-end align-items-center">
                    <a href="{{ path('dashboard') }}" class="btn btn-primary">{{ 'Login'|trans }}</a>

                        <a class=" dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset('/images/locale/'~app.request.locale~'.png') }}" class="iconSytle">
                        </a>
                        <div class="dropdown-menu" style="min-width: unset; background-color: unset; border: none">
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'de'})) }}"><img
                                        src="{{ asset('/images/locale/de.png') }}" class="iconSytle" alt="Deutsch"></a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'en'})) }}"><img
                                        src="{{ asset('/images/locale/en.png') }}" class="iconSytle" alt="English"></a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'fr'})) }}"><img
                                        src="{{ asset('/images/locale/fr.png') }}" class="iconSytle" alt="French"></a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'es'})) }}"><img
                                        src="{{ asset('/images/locale/es.png') }}" class="iconSytle" alt="Español"></a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'vi'})) }}"><img
                                        src="{{ asset('/images/locale/vi.png') }}" class="iconSytle" alt="Tiếng Việt"></a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'zh'})) }}"><img
                                        src="{{ asset('/images/locale/zh.png') }}" class="iconSytle" alt="中国人"></a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'tr'})) }}"><img
                                        src="{{ asset('/images/locale/tr.png') }}" class="iconSytle" alt="Turkish"></a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale':'ru'})) }}"><img
                                        src="{{ asset('/images/locale/ru.png') }}" class="iconSytle" alt="Russian"></a>

                        </div>

                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 ">
                    <div class="card frozenGlas">
                        <div class="glossy"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 text-center text-md-left mb-2 mb-md-0"
                                     style="display: flex; justify-content: center; align-items: center">
                                    {% if standort is defined and  standort is not null and standort|validateLicense %}
                                        {% if standort.logoUrl is not null %}
                                            <img src="{{ standort.logoUrl }}" style="width: 100%">
                                        {% endif %}
                                    {% else %}
                                        <img src="{{ asset('logo.png') }}" style="width: 100%">
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {% block header %}{% endblock %}

                                </div>
                            </div>

                            <hr>

                            <div class="row mb-5">


                                {% block content %}{% endblock %}


                            </div>

                            <div class="row">
                                <div class="col-12 text-center">
                                    {% if not standort %}
                                        {% if laf_customTextOnCalenderView is defined and laf_customTextOnCalenderView is not null and laf_customTextOnCalenderView != "hide"  and laf_customTextOnCalenderView != "" %}
                                            <p>
                                                {{ laf_customTextOnCalenderView | raw }}
                                            </p>
                                        {% elseif laf_customTextOnCalenderView is defined and laf_customTextOnCalenderView is not null and laf_customTextOnCalenderView == "hide" %}
                                        {% else %}
                                            <p>
                                                {% trans %}Wer eine datenschutzfreundliche Event-Manager Software benötigt, kommt um den Open Event-Manager nicht herum{% endtrans %}
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        {% if laf_hideButtonsOnCalenderView is defined and laf_hideButtonsOnCalenderView is not null and laf_hideButtonsOnCalenderView != true %}
                        <div class="card-footer text-center">
                            <a href="{{ path('index') }}"
                               class="btn btn-outline-danger btn-sm">{{ 'Startseite'|trans }}</a>
                            {% if laf_hideDashboardOnCalenderView is defined and laf_hideDashboardOnCalenderView is not null and laf_hideDashboardOnCalenderView != true %}
                            <a href="{{ path('dashboard') }}"
                               class="btn btn-outline-elegant btn-sm">{{ 'Dashboard'|trans }}</a>
                            {% endif %}
                            {% if laf_hideRegistrationOnCalenderView is defined and laf_hideRegistrationOnCalenderView is not null and laf_hideRegistrationOnCalenderView != true %}
                            <a href="{{ path('register_keycloak') }}"
                               class="btn btn-outline-cyan btn-sm">{{ 'Registrieren'|trans }}</a>
                            {% endif %}
                            <a href="{{ helpUrlParticipants }}" target="_blank"
                               class="btn btn-outline-amber btn-sm">{{ 'Hilfe'|trans }}</a>
                            {% if server is defined and  server is not null and server|validateLicense and server.showStaticBackgroundColor and server.staticBackgroundColor is not null %}

                            {% elseif image is not null %}
                                <br>
                                <a href="{{ image['photographer_url'] }}" target="_blank" referrerpolicy="no-referrer"
                                   rel="noreferrer noopener">
                                    Image by {{ image['photographer'] }} </a>
                                <a href="https://www.pexels.com" target="_blank" referrerpolicy="no-referrer"
                                   rel="noreferrer noopener"> provided by <img height="30px"
                                                                               src="{{ asset('images/pexels.png') }}"/>
                                </a>

                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>


            {{ include('base/__snack.html.twig') }}


        </div>
        <div class="row justify-content-center ">
            <div class="col-12">
                <div class="card card-body mt-4 text-center">
                    <div class="row">
                        <div class="col-md-3 text-md-left">

                            {% if standort is defined and  standort is not null and standort|validateLicense %}

                            {% else %}
                                <a href="https://app.open-event-manager.de/" target="_blank" class="small"><img
                                            src="{{ asset('logo.png') }}" style="height: 50px"></a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <a href="{{ dataPrivacy }}" target="_blank"
                               class="small">{{ 'Datenschutzhinweis'|trans }}</a><br>
                            <a href="https://app.open-event-manager.de" target="_blank" class="small">Powered by Open-Event-Manager</a><br>
                            {% if matomo_enable == 'true' %}
                                <a class="small" href="#" data-toggle="modal" data-target="#exampleModal">
                                    Matomo Opt-out
                                </a><br>
                            {% endif %}
                            <a href="https://h2-invent.com" target="_blank" class="small">Made with ❤ by H2 invent •
                                2019-{{ 'now'|date('Y') }}
                                • v{{ laf_version }}</a>
                        </div>
                        <div class="col-md-2 text-md-center d-none d-sm-block">
                            <a href="https://github.com/open-event-manager/open-event-manager/blob/master/LICENSE" target="_blank"
                               referrerpolicy="no-referrer" rel="noopener"> <img src="{{ asset('images/agpl.png') }}"
                                                                                 style="width: 100%"></a>
                        </div>
                        <div class="col-md-1 text-md-right d-none d-sm-block">
                            <a href="https://opensource.org/" referrerpolicy="no-referrer" rel="noopener"><img
                                        src="{{ asset('images/open-source-logo.png') }}" style="width: 100%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{ include('base/__matomoOptOut.html.twig') }}
</div>
<script>
    var textDublicateEmail = '{{ 'Sie haben doppelte E-Mail Adressen eingetragen'|trans }}';
</script>
{% block webpack %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}
{% block script %}
{% endblock %}
</body>

</html>
