{% extends 'join/base.html.twig' %}
{% set standort = null %}
{% block header %}
    <h1 class="h1-responsive text-center">{{ 'Kalender'|trans }}</h1>

{% endblock %}


{% block content %}


    <div class="col-lg-12">
        <div id="calendar">

        </div>

    </div>

<script>
    events = [
        {% for e in events %}
        {
            title: '{{ e.name }}',
            start: '{{ e.start|date('Y-m-d') }}T{{ e.start|date('H:i:s') }}',
            end: '{{ e.enddate|date('Y-m-d') }}T{{ e.enddate|date('H:i:s') }}',
            url: '{{ path('public_subscribe_participant',{'uid':e.uidParticipant}) }}'
        },
        {% endfor %}
    ]
</script>


{% endblock %}
{% block webpack %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}