<b>
    {{ 'Name'|trans }}: {{ room.name }}
</b>

<p>{{ 'Moderator'|trans }}: {{ room.moderator.firstName }} {{ room.moderator.lastName }}<br>
    {{ 'Datum'|trans }}: {{ room.start|date('d.m.Y') }}<br>
    {{ 'Startzeit'|trans }}: {{ room.start|date('H:i') }}<br>
    {{ 'Geplante Dauer'|trans }}: {{ room.duration }} {{ 'Minuten'|trans }}<br>
    {{ 'Ende'|trans }}: {{ room.enddate|date('d.m.Y H:i') }}<br>
    {% if room.entryDateTime is not null %}
        {{ 'Einlass'|trans }}: {{ room.entryDateTime|date('d.m.Y H:i') }}<br>
    {% endif %}
    {% if room.agenda is not null %}
        {{ 'Agenda:'|trans }}:<br> {{ room.agenda|markdown_to_html }}<br>
    {% endif %}
    {% if room.additionalInfo is not null %}
        {{ 'Zusätzliche Infos:'|trans }}:<br> {{ room.additionalInfo|markdown_to_html }}<br>
    {% endif %}
</p>
{% if room is defined and user is defined %}
    {% set members =  userFromUsergroup(user, room) %}
    {% if members|length > 0 %}
        <b>{{ 'Angemeldete Gruppenmitglieder'|trans }}:</b>
        <ul>
            <li>{{ user.firstName }} {{ user.lastName }}</li>
            {% for m in members %}
                <li>{{ m.firstName }} {{ m.lastName }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
<b>Standort:</b>
<p>{{ room.standort.name }}<br>
    {{ room.standort.roomnumber?room.standort.roomnumber }}<br>
    {{ room.standort.street }}<br>
    {{ room.standort.plz }}<br>
    {{ room.standort.city }}<br>
</p>
{% if room.standort.directions is not null %}
    <b>{{ 'Anfahrtsbeschreibung'|trans }}</b>
    {{ room.standort.directions?room.standort.directions|markdown_to_html }}
{% endif %}
<spacer size="16"></spacer>
<p>

</p>
<spacer size="16"></spacer>


<p>
    {% if standort is defined and  standort is not null and standort|validateLicense and standort.serverEmailBody is not null %}
        {{ standort.serverEmailBody|nl2br }}
    {% endif %}
</p>


