{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    {% if room is defined and standort is not defined %}
        {% set standort = room.standort %}
    {% endif %}
    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }

        .container.header {
            background: #f3f3f3;
        }

        .body-border {
            border-top: 8px solid #ff002a;
        }
    </style>

    <spacer size="16"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">
                    {% if standort is defined and  standort is not null and standort|validateLicense and standort.serverEmailHeader is not null %}
                        {{ standort.serverEmailHeader }}
                    {% else %}
                        {% block header %}

                        {% endblock %}
                    {% endif %}
                </h1>

            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>
                <spacer size="32"></spacer>

                <spacer size="16"></spacer>
                {% block content %}

                {% endblock %}
                <spacer size="16"></spacer>
                {% if laF_emailTextLogin == 1 %}
                <center>
                        <p style="text-align: center">
                            {% if standort is defined and  standort is not null and standort|validateLicense %}
                                {% trans with {'{url}':laF_baseUrl~path('dashboard')} %}Sie wollen dieses Event komfortabel in einer Übersicht verwalten?
                                    <br>
                                    Dann melden Sie sich <a href="{url}">hier</a>&nbsp;an.
                                {% endtrans %}
                            {% else %}
                                {% trans with {'{url}':laF_baseUrl~path('dashboard')} %}Sie wollen selber ein Event
                                    <b>kostenlos</b> planen oder dieses Event komfortabel
                                                     in einer Übersicht verwalten?<br>
                                    Dann melden Sie sich <a href="{url}">hier</a>&nbsp;<b>kostenlos</b>
                                    an.
                                {% endtrans %}
                            {% endif %}
                        </p>
                </center>
                <spacer size="16"></spacer>
                {% endif %}
                <p>
                    {% if room is defined %}
                        {{ 'Sie erhalten diese E-Mail, da Sie auf der Teilnehmerliste dieses Events  stehen.'|trans }}
                    {% else %}
                        {{ 'Sie erhalten diese E-Mail, da Sie als Organisator zu einem Standort hinzugefügt wurden.'|trans }}
                    {% endif %}
                </p>
                <spacer size="32"></spacer>
                <p style="text-align: center">
                    <a href="{{ dataPrivacy }}">{{ 'Datenschutzhinweis'|trans }}</a><br>
                    {% if room is defined %}
                        {% trans %}Diese Mail wurde Ihnen gesendet im Auftrag von:{% endtrans %}<br>
                        {{ room.moderator.firstName }} {{ room.moderator.lastName }}
                    {% endif %}
                </p>

            </columns>
        </row>
        <center>
            <small>
                <a href="https://jitsi-admin.de">{{ 'Powered by Open Event Manager, die Open Source Event Managment Software'|trans }}</a>
            </small>
        </center>

    </container>
{% endapply %}
