{% extends 'email/base.html.twig' %}
{% block header %}
    -- {{ 'Sie wurden von der Teilnehmerliste entfernt'|trans }} --
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <b>
        {{'Hallo!'|trans}}
    </b>
    <p>
        {% trans with {'{name}': room.name|escape} %}
          Sie wurden von der Teilnehmerliste des Events: {name} entfernt. Dieses Event  kann aus dem Kalender entfernt werden.
        {% endtrans %}
    </p>
    <b>{{ 'Anmeldedaten'|trans }}</b>
    <ul>
    <li><b>{{ 'Name'|trans }}:</b> {{ user.firstName }} {{ user.lastName }}
    <li><b>{{ 'E-Mail'|trans }}:</b> {{ user.email }}
    <li><b>{{ 'Adresse'|trans }}:</b> {{ user.address }}
    <li><b>{{ 'Telefon'|trans }}:</b> {{ user.phone }}
    {% for ff in user.freeFieldsFromRoom(room) %}
    <li><b>{{ ff.freefield.label }}:</b> {{ ff.answer }}<br>
    {% endfor %}
    </ul>
    <b>
        {{ 'Name'|trans }}: {{ room.name }}
    </b>
    <p>{{ 'Organisator'|trans }}: {{ room.moderator.firstName }} {{ room.moderator.lastName }}<br>
        {{ 'Datum'|trans }}: {{ room.start|date('d.m.Y') }}<br>
        {{ 'Startzeit'|trans }}: {{ room.start|date('H:i') }}<br>
        {{ 'Geplante Dauer'|trans }}: {{ room.duration }} {{ 'Minuten'|trans }}</p>

{% endblock %}
